html
  -webkit-text-size-adjust none
  min-height 100%

body
  font-size 18px
  background #fff;
  line-height 1.8
  overflow-x hidden

body, input, textarea
  font-family "Roboto"
  font-size 14px
  line-height 1.8

*:focus
  outline none

.-hide
  display none

.br
  display block

input[type="search"]
  -webkit-appearance textfield

input[type='submit']
  -webkit-appearance none
  -moz-appearance none
  appearance none
