h2.headline
  font-size 32px
  font-weight 700
  color #1E2B6F
  line-height 46px

  @media (max-width 767px)
    font-size 22px
    line-height 24px

a
  color #536AFF
  text-decoration none
  transition .15s $transition

  &:hover
    color #7285FF
