.link
  color $blue
  text-decoration none
  transition color .15s ease-in-out

  &:hover
    color $blue-deep

.button
  padding 0 20px
  display inline-flex
  align-items center
  justify-content center
  height 50px
  border-radius 5px
  font-size 14px
  font-weight 500
  border none
  cursor pointer
  transition all $transition

  @media (max-width 767px)
    font-size 13px
    padding 0 10px
    height 45px

  &:active
    transform translate(0, 1px)

  &.orange
    color #fff
    background #FD8E49
    box-shadow: 0 1px 3px 0 rgba(128,65,25,0.30);

    &:hover
      background #F67E33

    &[disabled]
      background rgba(255,255,255,.5)
      color #536AFF

  &.white
    color #1E2B6F
    background #FFF
    box-shadow: 0 3px 12px 0 rgba(24,34,85,0.20);

    &:hover
      color #fff
      background $blue

  &.with-arrow-icon
    svg
      margin-left 12px
      margin-top 1px


.badge
  border-radius 10px
  padding 1px 6px
  font-size 12px
  font-weight 500

  &.-blue
    background #4A79FE
    color #fff

.input-wrapper
  width 100%
  display block
  position relative

  &__icon
    position: absolute;
    top: 50%;
    left: 18px;
    transform: translate(0, -50%);

  &__label
    position absolute
    top 11px
    left 0
    padding-left 21px
    color #1E2B6F
    font-size 12px
    font-weight 500

  .e-input
    height 100%
    font-size 15px
    line-height 15px
    padding-top 18px

    &:focus
      & + .input-wrapper__label
        color #536AFF

    @media (max-width: 767px)
      font-size 13px
      padding-top 20px

  &.icon
    .input-wrapper__label
      padding-left 51px

    .e-input
      padding-left 50px

.e-input,
.e-textarea
  width 100%
  background: #FFFFFF;
  color rgba(#1E2B6F, .5)
  box-shadow: 0 1px 3px 0 rgba(73,79,106,0.14);
  box-sizing border-box
  padding 0 20px
  border 1px solid transparent
  border-radius 5px
  transition border-color $transition
  font-size 14px

  @media (max-width: 767px)
    font-size 13px

  +placeholder()
    color #A6B2D9

  &:focus
    border-color $blue

.e-input
  height 50px
  line-height 50px

.e-textarea
  padding 10px 20px

.e-checkbox
  cursor pointer
  padding-left 30px
  font-size 14px
  color #A6B2D9

  &__input
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    left -9999px

    &:checked
      + .e-checkbox__box
        &::before
          display block

  &__box
    position: absolute;
    margin-left: -30px;
    width 22px
    height 22px
    background $white
    box-shadow: 0 1px 3px 0 rgba(73,79,106,0.14);
    border-radius 5px
    display flex
    align-items center
    justify-content center

    &::before
      display none
      content ''
      sprite($s-checkbox)

.the-note
  background $blue
  padding 18px 50px 32px
  box-sizing border-box
  border-radius 5px
  font-size: 15px;
  color: rgba(#FFFFFF, .6);
  letter-spacing: 0;
  line-height: 22px;
  position relative

  &::before
    content ''
    display block
    width 28px
    height 28px
    border 5px solid $blue
    border-radius: 50%
    background #fff url('../images/content/note.svg') no-repeat
    background-position center
    background-size 4px 16px
    position absolute
    top -15px
    left -14px

  &__text
    margin -5px 0
    p
      padding 5px 0

  &__headline
    font-weight 500
    font-size: 16px;
    color: #FFFFFF;
    border-bottom 1px solid rgba(#1E2B6F, .2)
    padding-bottom 8px
    margin-bottom 16px

.the-label
  background $blue;
  display inline-block
  padding 1px 8px 0
  border-radius: 15px
  font-weight 500
  font-size: 9px;
  line-height 18px
  color: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(48,55,91,0.20);
