// sprite($s-round)
.base_col
  width 100%
  max-width 1280px
  padding 0 50px
  box-sizing border-box
  margin 0 auto
  position relative

  @media (max-width 767px)
    padding 0 10px

.section
  padding 70px 0

  &.-medium
    padding 50px 0

  &.-small
    padding 40px 0

  @media (max-width: 767px)
    padding 60px 0

    &.-medium
      padding 50px 0

    &.-small
      padding 40px 0

  &.-gray
    background #F0F5FB
    box-shadow: inset 0 -8px 30px 0 rgba(7,31,115,0.10);

  &.-blue
    background #1639BB
    color #fff

  &.-blue-gradient
    background linear-gradient(to bottom, #1639bb 0%,#0e257a 100%)
    color #fff

  &__wrapper
    display: flex;
    flex-wrap wrap
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;

    @media (max-width: 992px)
      flex-direction column

  &__content
    box-sizing border-box
    max-width 480px

    @media (max-width: 992px)
      order 2

    &.with-padding
      padding-left 100px
      max-width 580px

      @media (max-width: 1150px)
        padding-left 0
        max-width none
        flex 1

  &__headline
    font-size 32px
    font-weight 700
    color #1E2B6F
    line-height 46px
    padding-bottom 6px

    @media (max-width 767px)
      font-size 22px
      line-height 24px

  &__text
    font-size: 15px;
    color: #1E2B6F;
    letter-spacing: 0;
    line-height: 22px;
    padding 10px 0

    @media (max-width: 767px)
      font-size 13px
      line-height 19px

  &__button
    padding-top 20px

    .button
      min-width 210px

      @media (max-width: 500px)
        width 100%

  &__image
    flex 1
    margin-left 50px

    &.section-about-image
      margin-top 80px

    img
      width 100%

    @media (max-width: 992px)
      width 100%
      max-width 450px
      padding 0 30px
      box-sizing border-box
      margin-left 0
      margin-bottom 50px
      order 1

      &.section-about-image
        margin-top 0

    @media (max-width: 550px)
      max-width 350px

.section-contact
  padding 70px 0
  background #1639BB
  position relative
  overflow hidden

  @media (max-width: 767px)
    padding 60px 0

  &:after
    content ''
    position absolute
    bottom -2px
    display block
    width 200%
    min-width 1440px
    height 170px
    background url('../images/content/contacts.svg')
    background-repeat repeat
    animation: sectionBgLoop 30s infinite linear

  &__wrapper
    position relative
    z-index 1
    display flex
    flex-direction column
    align-items center

  &__text
    width 100%
    max-width 790px
    padding 0 0
    box-sizing border-box
    text-align center
    font-size: 32px;
    font-weight 300
    color: #FFFFFF;
    text-align: center;
    line-height: 46px;
    padding-bottom 40px

    @media (max-width: 767px)
      font-size 22px
      line-height 36px
      padding-bottom 24px

  &__button
    .button
      width 230px

.the-phones
  width 100%
  max-width 960px
  margin 0 auto
  display flex
  justify-content space-between

  @media (max-width: 767px)
    flex-direction column

  .headline
    color #fff
    padding-bottom 12px
    width 100%

  &__item
    @media (max-width: 767px)
      padding-bottom 24px

      &:last-child
        padding-bottom 0

      &.-inline
        display flex

        .the-phones__item-country
          flex 0 0 50%

  &__icon
    margin 0 0 15px
    min-height 71px

  &__item-country
    padding-bottom 22px

    &:last-child
      padding-bottom 0

    @media (max-width: 767px)
      padding-bottom 0

    @media (max-width: 767px)
      &.-multi-phone
        display flex
        flex-wrap wrap
        p
          flex 0 0 50%

    p
      color #fff
      opacity .4
      font-size 17px
      padding-bottom 10px
      text-decoration none

      @media (max-width: 767px)
        font-size 14px

    a
      color #fff
      display block

.map-contacts
  position relative
  z-index 2

  @media (max-width: 767px)
    background #1639BB
    margin-top -40px

  &__wrapper
    position absolute
    top calc(425px / 2)
    transform translate(0, -50%)
    background #1639BB
    width 280px
    padding 100px 30px 40px
    color #fff
    font-size 20px
    line-height 28px

    @media (max-width: 992px)
      width 200px
      padding 20px
      font-size 18px

    @media (max-width: 767px)
      position relative
      width 100%
      top 0
      transform translate(0, 0)
      padding 0 0 40px

  &__label
    font-size 14px
    padding-bottom 12px
    color #FD8E49

#map
  width 100%
  height 425px

@keyframes sectionBgLoop {
  0% {
    transform translate(0, 0)
  }
  100% {
    transform translate(-50%, 0)
  }
}
