.top-search
  position relative

  &__tabs
    display flex

  &__tabs-item
    width 169px
    display inline-flex
    align-items center
    height 49px
    box-sizing border-box
    padding 0 20px
    font-size 18px
    font-weight 500
    color $white
    background rgba(83,106,255,.6)
    box-shadow 0 8px 10px 0 rgba(30,43,111,0.20), inset 0 1px 0 0 rgba(140,226,255,0.30)
    margin 0 1px 0 0
    cursor pointer
    transition background $transition

    @media (max-width 992px)
      margin 0

    &:first-child
      border-radius 5px 0 0 0

    &:last-child
      border-radius 0 5px 0 0

    &:hover
      background rgba(83,106,255,1)

    svg
      margin-right 18px

      @media (max-width 767px)
        margin-right 10px
        margin-left -4px

      path
        fill $white
        transition color $transition

    &.-active
      background #F0F5FB
      color #1E2B6F

      svg
        path
          fill $blue

  &__content
    position relative
    padding 20px
    background #F0F5FB
    border-radius 0 0 5px 5px
    box-shadow 0 8px 10px 0 rgba(7,31,115,.2)

    &.hide
      display none

  &__directions
    display flex
    align-items center
    margin-bottom 10px

    @media (max-width 992px)
      justify-content center

  &__content-info
    display flex
    align-items center
    height 24px
    margin-bottom 10px
    font-size 12px
    font-weight 500
    color #FD8E49
    margin-left 15px

    svg
      margin-right 12px

  &__directions-item
    display flex
    align-items center
    font-size 12px
    font-weight 500
    color #182255
    box-shadow: 0 1px 3px 0 rgba(73,79,106,0.14);
    background $white
    margin-right 10px
    padding 2px 12px 1px
    border-radius 20px
    cursor pointer
    transition all $transition

    &:last-child
      margin-right 0

    svg
      margin-right 6px

      path
        fill #A6B2D9
        transition fill $transition

    &:hover,
    &:active,
    &.-active
      background #536AFF
      color #fff

      svg path
          fill #fff

    &:active
      box-shadow inset 0 1px 2px 0 rgba(73,79,106,0.2);
      transform translate(0, 1px)

    &.-active
      cursor default

      &:active
        transform translate(0, 0)

  &__content-wrapper
    display flex
    margin 0 -5px
    flex-wrap wrap

    &.-hide
      display none

    @media (max-width 1100px)
      margin 0 -3px

    @media (max-width 992px)
      margin 0

  &__item
    flex 1
    margin 0 5px

    .the-date__input-wrapper
      overflow hidden

    .the-date__label
      white-space nowrap
      overflow hidden

    &.top-search__item-passanger
      flex 0 0 120px

    @media (max-width 1100px)
      margin 0 3px

    @media (max-width 992px)
      flex 0 0 100%
      margin 0 0 6px

      &.top-search__item-passanger
        flex 0 0 100%

      &.mobile-half
        flex 0 0 calc(50% - 4px)

        + .mobile-half
            margin-left 8px

    .the-date__input-wrapper
      height 58px

    .input-wrapper
      height 60px
      .e-input
        height 60px

    &.hide
      display none

  .button
    margin 0 5px
    flex 0 0 156px
    height 60px
    text-transform uppercase

    svg
      margin-right 10px

    @media (max-width 1100px)
      margin 0 3px

    @media (max-width 992px)
      flex 0 0 100%
      margin 0 0 -5px
